
@{
    ViewData["Title"] = "Newsletter";
}

<h1>Newsletter</h1>

<p>
    Bitte melden Sie sich an, um Ihre Newsletter-Einstellungen bearbeiten zu können.
</p>
<a class="link" href="/user/login">Login</a>
<a class="link" href="/user/register">Registrierung</a>