@model CodingLanguages.Models.User
@{
    ViewData["Title"] = "Profil";
}

<h1>Profil</h1>

<div class="form">
    <input type="hidden" asp-for="UserID" />
    <input type="hidden" asp-for="Admin" />

    <p>
        <label asp-for="Username">Username</label>
        <input type="text" asp-for="Username" readonly />
    </p>

    <p>
        <label asp-for="Firstname">Firstname</label>
        <input type="text" asp-for="Firstname" readonly />
    </p>

    <p>
        <label asp-for="Lastname">Last Name</label>
        <input type="text" asp-for="Lastname" readonly />
    </p>

    <p>
        <label asp-for="Email">Email</label>
        <input type="email" asp-for="Email" readonly>
    </p>

    <p>
        <label asp-for="Gender">Gender</label><br />
        <select asp-for="Gender" readonly>
            @switch ((int)Model.Gender) {
                case 0:
                    <option value="0">männlich</option>
                    break;
                case 1:
                    <option value="1">weiblich</option>
                    break;
                case 2:
                    <option value="2">divers</option>
                    break;
            }
        </select>
    </p>

    <p>
        <label asp-for="Birthdate">Birthdate</label>
        <input type="date" asp-for="Birthdate" readonly>
    </p>

    <p>
        <form class="changeForm" action="/user/update" method="get">
            <input id="btnChange" type="submit" value="Profil ändern">
        </form>

        <form class="changeForm" action="/user/changePassword" method="get">
            <input style="background-color: blue;" id="btnChange" type="submit" value="Passwort ändern">
        </form>

        <form class="changeForm" action="/user/delete" method="get">
            <input style="background-color: red;" id="btnChange" type="submit" value="Löschen">
        </form>
    </p>

</div>


@*
@section Scripts {
    <script src="~/js/registration.js" asp-append-version="true"></script>
}
    *@