@model CodingLanguages.Models.ViewModels.RegistrationViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Sign Up</h1>
<br />

<div class="form">
    <form asp-controller="user" asp-action="register" method="post">
        <input type="hidden" asp-for="User.UserID" />
        <input type="hidden" asp-for="User.Admin" />

        <p>
            <label asp-for="User.Username">Username</label>
            <input type="text" asp-for="User.Username" placeholder="Your username..">
            <span asp-validation-for="User.Username"></span>
            <span id="usernameMessage" style="display:none; color:red"> Der Username ist bereits vergeben!</span>
        </p>

        <p>
            <label asp-for="User.Firstname">Firstname</label>
            <input type="text" asp-for="User.Firstname" placeholder="Your first name..">
            <span asp-validation-for="User.Firstname"></span>
        </p>

        <p>
            <label asp-for="User.Lastname">Last Name</label>
            <input type="text" asp-for="User.Lastname" placeholder="Your last name..">
            <span asp-validation-for="User.Lastname"></span>
        </p>

        <p>
            <label asp-for="User.Email">Email</label>
            <input type="email" asp-for="User.Email" placeholder="Your Email-Address..">
            <span asp-validation-for="User.Email"></span>
            <span id="mailMessage" style="display:none; color:red"> Die Mail Adresse ist bereits vergeben!</span>
        </p>

        <p>
            <label asp-for="User.Password">Password</label>
            <input type="password" asp-for="User.Password" placeholder="Your password..">
            <span asp-validation-for="User.Password"></span>
        </p>

        <p>
            <label asp-for="User.CPassword">Confirm Password</label>
            <input type="password" asp-for="User.CPassword" placeholder="Your password again..">
            <span id="cpasswordMessage" style="display:none; color:red"> Passwörter stimmen nicht überein!</span>
        </p>

        <p>
            <label asp-for="User.Country">Country</label>
            <select asp-for="User.Country">
                @if (Model != null && Model.Countries != null && Model.Countries.Count > 0) {
                    @foreach (String str in Model.Countries) {
                        @if (Model.User.Country != null) {
                            @if (str.Equals(Model.User.Country)) {
                                <option selected="selected" value=@str>@str</option>
                            }
                            else {
                                <option value=@str>@str</option>
                            }
                        }
                        else if (str.Equals("Austria") || str.Equals("Österreich")) {
                            <option selected="selected" value=@str>@str</option>
                        }
                        else {
                            <option value=@str>@str</option>
                        }
                    }
                }
                else {
                    <option value="austria">Austria</option>
                    <option value="germany">Germany</option>
                    <option value="swiss">Swiss</option>
                }

            </select>
            <span asp-validation-for="User.Country"></span>
        </p>

        <p>
            <label asp-for="User.Gender">Gender</label><br />
            <select asp-for="User.Gender">
                <option value="2">divers</option>
                <option value="0">männlich</option>
                <option value="1">weiblich</option>
            </select>
            <span asp-validation-for="User.Gender"></span>
        </p>

        <p>
            <label asp-for="User.Birthdate">Birthdate</label>
            <input type="date" asp-for="User.Birthdate">
            <span asp-validation-for="User.Birthdate"></span>
        </p>

        <p>
            <input id="btnSubmit" type="submit" value="Submit">
        </p>
    </form>
</div>

@section Scripts {
    <script src="~/js/registration.js" asp-append-version="true"></script>
}