@model CodingLanguages.Models.ViewModels.RegistrationViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<br />

<div class="form">
    <form asp-controller="user" asp-action="register" method="post">

        <partial name="UserForm" />
    </form>
</div>

@section Scripts {
    <script src="~/js/registration.js" asp-append-version="true"></script>
}