
@using CodingLanguages.Controllers
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<HomeController> StringLocalizer

@{
    ViewData["Title"] = "AboutUs";
}

<h1>@StringLocalizer["aboutUs"]</h1>

