.codebox {
    background-color: #121212;
    width: 80%;
    border: 3px solid green;
    padding: 0px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
    line-break: strict;
}

.container-fluid {
    z-index: 1000000 !important;
}

#compileButton {
    display: flex;
    position: absolute;
    width: auto;
    height: auto;
}

#playButton {
    display: flex;
    position: absolute;
    width: auto;
    height: auto;
}

#copyButton {
    display: flex;
    position: absolute;
    margin: 0px 0px;
    width: auto;
    height: auto;
}

#editButton {
    display: flex;
    position: absolute;
    margin: 0px 0px;
    width: auto;
    height: auto;
}

.circleA {
    position: absolute;
    height: 60px;
    width: 60px;
    margin: 100px 0px;
    padding: 0;
    background-color: #393636;
    border-radius: 50%;
    display: flex;
    z-index: 10
}

.circle {
    position: absolute;
    height: 60px;
    width: 60px;
    margin: 150px 0px;
    padding: 0;
    background-color: #393636;
    border-radius: 50%;
    display: flex;
    z-index: 10
}

.circle2 {
    position: absolute;
    height: 60px;
    width: 60px;
    margin: 220px 0px;
    padding: 0;
    background-color: #393636;
    border-radius: 50%;
    display: flex;
    z-index: 10
}

.circle3 {
    position: absolute;
    height: 60px;
    width: 60px;
    margin: 290px 0px;
    padding: 0;
    background-color: #393636;
    border-radius: 50%;
    display: flex;
    z-index: 10
}

.placeHolder{
    margin: 12px 12px;
}

.boxBase {
    display: flex;
    z-index: 10;
    position: absolute;
    margin: 234px 15px;
    width: 26px;
    height: 26px;
    border-radius: 20%;
    background: white;
}

.boxInner {
    display: flex;
    z-index: 10;
    position: absolute;
    margin: 236px 17px;
    width: 22px;
    height: 22px;
    border-radius: 20%;
    background: #393636;
}

.boxBase2 {
    display: flex;
    z-index: 10;
    position: absolute;
    margin: 240px 21px;
    width: 26px;
    height: 26px;
    border-radius: 20%;
    background: white;
}

.boxInner2 {
    display: flex;
    z-index: 10;
    position: absolute;
    margin: 242px 23px;
    width: 22px;
    height: 22px;
    border-radius: 20%;
    background: #393636;
}

.arrowRightOuter {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 164px 20px;
    padding: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 24px solid white;
    display: flex;
    z-index: 10
}

.arrowRightInner {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 168px 23px;
    padding: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid #393636;
    display: flex;
    z-index: 10
}

.codebox_empty {
    margin: 0px;
    padding: 0px;
    border: none;
}

pre{
    border: none;
    background: none;
}

code{
    display: inline-block;
    font-size: 20px;
    align-content: center;
    border: none;
    padding: 0px;
    margin: 0px;
}

.keyword {
    background-color: #121212;
    color: #6DB2EA;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    float: left;
}


.text {
    background-color: #121212;
    color: #DC98D9;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    float: left;
}

.plain {
    background-color: #121212;
    color: #ebdddd;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    float: left;
}

.comments {
    background-color: #121212;
    color: #3AAD35;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    float: left;
}

.method {
    background-color: #121212;
    color: #F50658;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    float: left;
}

.param {
    background-color: #121212;
    color: #089A01;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    float: left;
}