
@{
    ViewData["Title"] = "Index";
}

<h1>Java</h1>

<div>
    <p>
        Java ist eine besondere Programmiersprache, die sich an der Syntax der Programmiersprachen C und C++ anlehnt. Bei der Entwicklung von Java wurde von Beginn an genauestens darauf geachtet, dass bestimmte schwere Programmierfehler erst gar nicht auftreten können. <br /> <br/>
    </p>
</div>

