
@{
    ViewData["Title"] = "Index";
}

<h1>Python</h1>

<div>
    <p class="paragrath">
        Python ist eine Programmiersprache, die dank ihrer klaren Syntax und einfachen Lesbarkeit leicht zu erlernen ist und sich sehr vielseitig einsetzen lässt. Für die gängigen Betriebssysteme ist Python frei verfügbar. Die üblichen Programmierparadigmen wie die objektorientierte oder funktionale Programmierung werden unterstützt.
    </p>
    <p class="paragrath">
        Bei Python handelt es sich um eine Programmiersprache mit einer klaren Syntax und guten Lesbarkeit. Sie gilt als leicht zu erlernen und ist in den gängigen Betriebssystemen interpretierbar. Python unterstützt mehrere Paradigmen der Programmierung wie die funktionale, objektorientierte oder aspektorientierte Programmierung und ist auch als Skriptsprache nutzbar.
    </p>
    <p class="paragrath">
        Grundsätzlich ist für Python keine Entwicklungsumgebung notwendig, da Pythoncode nicht kompiliert werden muss und Skripte sich mit beliebigen Texteditoren schreiben lassen. Interpreter sind interaktiv und erlauben mit den Möglichkeiten der Sprache zu experimentieren. Gängige von Programmierern genutzte Editoren wie Emacs oder Vim sind für Python anpassbar.
    </p>
    <p class="paragrath">
        Oft ist gemeinsam mit Python IDLE installiert. IDLE besteht aus einer Shell, einer Textumgebung und Debuggingfunktionen, stellt aber keine vollwertige Entwicklungsumgebung (IDE – Integrated Development Environment) dar.<br /><br /><br />
    </p>
    <table>
        <thead>
            <tr>
                <td width="50%">
                    Vorteile
                </td>
                <td width="50%">
                    Nachteile
                </td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <u>Benutzerfreundlichkeit:</u><br />
                    Experten und Anfänger können den Code leicht verstehen und Sie können mit dieser Sprache schnell produktiv werden, da sie weniger Dialekte als andere beliebte Sprachen wie Perl enthält. Da sein Quellcode dem Pseudocode ähnelt, ist es auch einfach zu erlernen. Sobald Sie mit dem Lernen beginnen, können Sie praktisch sofort mit dem Codieren beginnen.
                </td>
                <td>
                    <u>Desingeinschränkungen:</u><br />
                    Sogar die größten Fans von Python würden bestimmten Designeinschränkungen in der Sprache zustimmen, da es dynamisch geschrieben wird. Dies erfordert mehr Tests und Fehler, um nur während der Laufzeit aufzutauchen. Die globale Interpretersperre der Sprache bedeutet, dass immer nur ein Thread auf Python-Interna zugreifen kann.
                </td>
            </tr>
            <tr>
                <td>
                    <u>Unkompliziert und schnell:</u><br />
                    Die Python-Community bietet Anwendern eine schnelle und effektive Unterstützung. Hunderttausende Entwickler arbeiten hart daran, Fehler zu finden und zu beheben und neue Patches und Verbesserungen für die Sprache zu entwickeln. Das bietet auch schnelles Feedback in vielerlei Hinsicht. Zum einen können Programmierer verschiedene Aufgaben überspringen, die in anderen Sprachen ausgeführt werden müssten.
                </td>
                <td>
                    <u>Mangel an mobilen Computern und Browsern:</u><br />
                    Python ist auf Desktop- und Serverplattformen stark, auf mobilen Plattformen jedoch schwach. Es gab nur eine Handvoll Smartphone-Apps, die mit Python entwickelt wurden, und die Sprache ist auf der Clientseite von Webentwicklungsanwendungen selten zu finden. Die Sprache ist auch in Webentwicklungsbrowsern nicht vorhanden. Dies liegt daran, dass immer noch eine gute sichere Sandboxsprache dafür fehlt.
                </td>
            </tr>
        </tbody>

    </table>
</div>
