@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Header";
}

<nav class="navbar navbar-inverse navbar-fixed-top primary-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Coding Languages</a>
        </div>
        <ul class="inlineUl nav navbar-nav">
            <li id="Home" class="active"><a href="/home/Index" onclick="animateSwitching2()">Home</a></li>
            <li id="Java"><a href="/java/Index" onload="animateSwitching2()">Java</a></li>
            <li id="net"><a href="/net/Index" onclick="activeNav(2);">.net</a></li>
            <li id="Pyhton"><a href="/python/Index" onclick="activeNav(3);">Python</a></li>
            @*<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Java
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/java/Index">Infos</a></li>
                        <li><a href="/java/Index">Infos</a></li>
                        <li><a href="/java/Index">Infos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        .NET
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/net/Index">Infos</a></li>
                        <li><a href="/net/Index">Infos</a></li>
                        <li><a href="/net/Index">Infos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Python
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/python/Index">Infos</a></li>
                        <li><a href="/python/Index">Infos</a></li>
                        <li><a href="/python/Index">Infos</a></li>
                    </ul>
                </li>*@
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @if (@httpContextAccessor.HttpContext.Session.GetString("name") == null || @httpContextAccessor.HttpContext.Session.GetString("name") == "")
            {
                <li><a href="/user/Register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="/user/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            }
            else
            {
                <li><a href="/user/Register"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
                if (@httpContextAccessor.HttpContext.Session.GetInt32("admin") == 1)
                {
                    <li><a href="/user/Register"><span class="glyphicon"></span>Admin Area</a></li>
                }
                <li><a href="/user/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            }

        </ul>
        <button class="btn btn-danger navbar-right navbar-btn">DE</button>
    </div>
</nav>