
@{
    ViewData["Title"] = "Header";
}

<nav class="navbar navbar-inverse navbar-fixed-top primary-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Coding Languages</a>
        </div>
        <ul class="inlineUl nav navbar-nav">
            <li id="Home" class="active"><a href="/home/Index" onclick="animateSwitching2()">Home</a></li>
            <li id="Java"><a href="/java/Index" onload="animateSwitching2()">Java</a></li>
            <li id="net"><a href="/net/Index" onclick="activeNav(2);">.net</a></li>
            <li id="Pyhton"><a href="/python/Index" onclick="activeNav(3);">Python</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/Register"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
            <li><a href="/user/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <button class="btn btn-danger navbar-right navbar-btn">DE</button>
    </div>
</nav>